# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
__debug_bin

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE files
.idea

# Folder for binaries and container's data
.build
.bin
.cache
